@media screen and (max-width:767px) {
    

    .navbar-nav
    {
        display: flex !important;
        flex-direction: row !important;
    }


  
    .main-wrapper{
        margin-top: 50px;
    }
    .hero-section > p{
        width: 100% !important;
    }
    .hero-section .btn-grp button{
        margin-bottom: 10px;
        margin-inline: 0 !important;
        width: 70%;
    }




    .features-section > h2 {
        text-align: left !important;
    }

    .features-section > p {
        width: 100% ;
    }

    .features-section .gallery{
        padding-inline: 20px ;
    }

    .features-section .custom-card{
        margin-bottom: 10px;
    }

    .product-section > h2 {
        text-align: left !important;
      
    }

    .product-section > p {
        width: 100% ;
        text-align: left !important;
        margin-bottom: 50px !important;
    }

    .product-section .product-gallery{
        padding-bottom: 10px !important;
    }

    .product-section .product-gallery .product .content{
        padding-block: 20px !important;
    }

    .testmonial-section > h2{
        text-align: left !important;
    }
    .testmonial-section > p{
        text-align: left !important;
        width: 100% !important;
        margin-bottom: 40px !important;
    }

    .testmonial-section .content-testmonial{
        padding: 0px !important;
        padding-right: 0 !important;
    }

    .testmonial-section .content-testmonial .card-custom-testmonial{
        width: 100% ;
    }

    .ftr-top .request-text p{
        margin-bottom: 30px;
    }


    .ftr-top .subscribe-form{
        width: 100% !important;

    }

    .ftr-top .subscribe-form form{
        flex-wrap: wrap !important;
        row-gap: 10px;
    }

    .ftr-top .subscribe-form input{
        width: 100% !important;
    }
    .ftr-top .subscribe-form button{
      width: fit-content;
        margin: 0 !important;
    }


    .ftr-bottom .content{
        margin-bottom: 40px;
    }

    .ftr-bottom .content p{
        width: 100% !important;
    }

    .ftr-bottom{
        margin-bottom: 10px !important;
    }
    .ftr-bottom-content {
        justify-content: center !important;
        row-gap: 20px;
        flex-wrap: wrap-reverse !important;
        margin-bottom: 20px !important;
    }


    
/**************** Sign Up Form *****************/

    
.sign-up h2{

    font: 800 44px "inter";
    margin-bottom: 40px !important ;
    margin-bottom: 100px;
}



}

@media screen and (max-width:580px){
    
    .hero-section > h1
    {
        font-size: 34px;
    }

    .hero-section > p
    {
        font-size: 18px;
    }



    .features-section > h2{
        font-size: 28px;
    }

    .features-section > p{
        font-size: 18px;
    }

    .features-section .custom-card p{
        font-size: 14px;
    }

    .product-section > h2{
        font-size: 28px;
    }
    .product-section > p{
        font-size: 18px;
    }

    .product-section .content h5{
        font-size: 16px;
    }
    .product-section .content h3{
        font-size: 26px;
    }

    .product-section .content p{
        font-size: 16px;
    }

    .product-section .content .check-grp p {
        font-size: 12px;
    }

    .testmonial-section > h2{
        font-size: 28px;
    }

    .testmonial-section > p{
        font-size: 16px;
    }

    .testmonial-section .content-testmonial .card-custom-testmonial p{
        font-size: 16px;
    }

    .ftr-bottom .links-wrapper h5{
        font-size: 14px;
    } 

    .ftr-bottom .links-wrapper .links a{
        font-size: 12px;
    }

    .ftr-bottom-content h6{

        font-size: 10px;
    }
    


    /**************** Sign Up Form *****************/

    
.sign-up h2{

    font: 800 36px "inter";
    margin-bottom: 40px !important ;
    margin-bottom: 100px;
}



}